// COLOR
$color-primary: #55c57a;
$color-primary-light: #6fe05b;
$color-primary-dark: #28b485;
$color-white: #fff;
$color-grey: rgb(87, 87, 87);

$color-grey-light-1: #f7f7f7;

// GRID
$grid-width: 124rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
