// COLOR
$color-primary: #11c74d;
$color-primary-light: #6fe05b;
$color-primary-dark: #28b485;
$color-white: #fff;
$color-grey: rgb(87, 87, 87);

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-light-1: #f7f7f7;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

$default-font-size: 1.6rem;
