.header {
  height: 95vh;
  background: linear-gradient(
      to right bottom,
      rgba(80, 214, 56, 0.726),
      rgba(33, 201, 145, 0.65)
    ),
    url(../img/hero.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);

  &__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem;
  }

  &__logo {
    height: 3rem;
  }

  &__text-box {
    @include center;
    text-align: center;
  }
}
