.feature-box {
  background: rgba(255, 255, 255, 0.801);
  font-size: 1.5rem;
  text-align: center;
  padding: 2.5rem;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  transition: transform 0.2s;

  &__icon {
    font-size: 6rem;
    margin-bottom: 0.5rem;
    background: linear-gradient(
      to right,
      $color-primary-light,
      $color-primary-dark
    );
    display: inline-block;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }

  &:hover {
    transform: translateY(-1.5rem) scale(1.03);
  }

  &__text {
  }
}
