.form {
  &__group:not(:last-child) {
    margin-bottom: 2rem;
  }

  &__input {
    font-size: 1.5rem;
    font-family: inherit;
    padding: 1.5rem 2rem;
    border-radius: 2px;
    background-color: rgba(white, 0.5);
    border: none;
    border-bottom: 3px solid transparent;
    width: 90%;
    display: block;

    &::placeholder {
      color: $color-grey-dark;
      font-family: inherit;
    }

    &:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba(black, 0.15);
      border-bottom: 3px solid $color-primary;

      &:invalid {
        border-bottom: 3px solid $color-secondary-dark;
      }
    }
  }

  &__label {
    font-size: 1.2rem;
    font-weight: 700;
    margin-left: 2rem;
    margin-top: 0.7rem;
    display: block;
    transition: all 0.3s;
  }

  &__input:placeholder-shown + &__label {
    visibility: hidden;
    opacity: 0;
    transform: translateY(-4rem);
  }
}
