.story {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba(black, 0.1);
  background: rgba(white, 0.6);
  border-radius: 3px;
  padding: 6rem;
  padding-left: 9rem;
  font-size: $default-font-size;
  position: relative;

  @include mq(tab-p) {
    width: 100%;
    padding: 4rem;
    padding-left: 7rem;
  }

  // SKEW THE CONTAINER
  transform: skewX(-12deg);

  @include mq(phone) {
    transform: skewX(0);
  }

  // FIX SKEW OF THE CHILDREN
  & > * {
    transform: skewX(12deg);

    @include mq(phone) {
      transform: skewX(0);
    }
  }

  &__shape {
    width: 15rem;
    height: 15rem;
    float: left;
    shape-outside: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    transform: translateX(-3rem) skewX(12deg);

    @include mq(phone) {
      transform: translateX(-3rem) skewX(0);
    }
  }

  &__img {
    height: 100%;
    transform: translateX(-4rem) scale(1.4);
    will-change: transform;
    transition: all 0.3s;
  }

  &__caption {
    // CENTER THE CAOPTION
    @include center;

    text-align: center;
    color: white;
    font-size: 1.7rem;
    text-transform: uppercase;

    // ANIMATION
    opacity: 0;
    transition: all 0.3s;
    transform: translate(-50%, 60%);
    will-change: transform, opacity;
  }

  &:hover &__caption {
    opacity: 1;
    transform: translate(-50%, -50%);
  }

  &:hover &__img {
    filter: blur(3px) brightness(80%);
    transform: translateX(-4rem) scale(1);
  }
}
