.story {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba(black, 0.1);
  background: rgba(white, 0.6);
  border-radius: 3px;
  padding: 6rem;
  padding-left: 9rem;
  font-size: $default-font-size;
  position: relative;

  // SKEW THE CONTAINER
  transform: skewX(-12deg);

  // FIX SKEW OF THE CHILDREN
  & > * {
    transform: skewX(12deg);
  }

  &__shape {
    width: 15rem;
    height: 15rem;
    float: left;
    shape-outside: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    transform: translateX(-3rem) skewX(12deg);
  }

  &__img {
    height: 100%;
    transform: translateX(-4rem) scale(1.4);
    backface-visibility: hidden;
    transition: 0.5s all, filter 0.2s;
  }

  &__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    text-align: center;
    color: white;
    font-size: 1.7rem;
    text-transform: uppercase;
    opacity: 0;
    transition: 0.3s all;
    backface-visibility: hidden;
  }

  &:hover &__caption {
    opacity: 1;
    transform: translate(-50%, -50%);
  }

  &:hover &__img {
    filter: blur(3px) brightness(80%);
    transform: translateX(-4rem) scale(1);
  }
}
