*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  // this defines what 1rem is
  font-size: 60.5%;

  @include mq(tab-l) {
    font-size: 56.25%;
  }

  @include mq(tab-p) {
    font-size: 50%;
  }

  @include mq(huge) {
    font-size: 75%;
  }
}

body {
  box-sizing: border-box;
  padding: 3rem;

  @include mq(tab-p) {
    padding: 0;
  }
}
