.u-center-text {
  text-align: center !important;
}

.u-margin-bottom-big {
  margin-bottom: 8rem !important;

  @include mq(tab-p) {
    margin-bottom: 6rem !important;
  }
}

.u-margin-bottom-medium {
  margin-bottom: 4rem !important;

  @include mq(tab-p) {
    margin-bottom: 3rem !important;
  }
}

.u-margin-bottom-small {
  margin-bottom: 2rem !important;
}

.u-margin-top-huge {
  margin-top: 12rem !important;
}
