.section-about {
  background: $color-grey-light-1;
  padding: 25rem 0;
  margin-top: -20vh;
}

.section-features {
  padding: 20rem 0;
  background: linear-gradient(
      to right bottom,
      rgba(80, 214, 56, 0.726),
      rgba(33, 201, 145, 0.65)
    ),
    url(../img/nat-4.jpg);
  transform: skewY(-7deg);
  margin-top: -10rem;

  & > * {
    transform: skewY(7deg);
  }
}

.section-tours {
  background: $color-grey-light-1;
  padding: 25rem 0 15rem 0;
  margin-top: -10rem;
}


.section-stories{
  padding: 15rem 0;
  background: $color-grey-light-1;
}


